body {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section{
    display: flex;          
    flex-direction: row;
    gap: 10px;  
    margin-bottom: 20px;
    justify-content: center;
}

a {
    padding: 10px;         
    background-color: #f0f0f0; 
    text-decoration: none; 
  }

p{
    width: 30%;
    text-align: center;
}